@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 17% 10%; /* #14191E */
    --foreground: 0 0% 98%; /* #FAFAFA */
    --card: 208 24% 20%; /* um pouco mais claro que o fundo */
    --card-foreground: 0 0% 98%;
    --popover: 210 17% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 41 46% 54%; /* #B9975B - Dourado */
    --primary-foreground: 210 17% 10%; /* Preto para contraste no dourado */
    --secondary: 240 5% 9%; /* #0D0D0F */
    --secondary-foreground: 0 0% 98%;
    --muted: 208 24% 25%;
    --muted-foreground: 0 0% 60%;
    --accent: 208 24% 22%; /* Um pouco mais claro que o card */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 208 24% 25%;
    --input: 208 24% 25%;
    --ring: 41 46% 54%; /* Dourado */
    --radius: 0.5rem;
  }

  .dark {
    --background: 210 17% 10%;
    --foreground: 0 0% 98%;
    --card: 208 24% 20%;
    --card-foreground: 0 0% 98%;
    --popover: 210 17% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 41 46% 54%;
    --primary-foreground: 210 17% 10%;
    --secondary: 240 5% 9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 208 24% 25%;
    --muted-foreground: 0 0% 60%;
    --accent: 208 24% 22%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 208 24% 25%;
    --input: 208 24% 25%;
    --ring: 41 46% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    scroll-behavior: smooth;
  }
  section {
    @apply scroll-mt-20;
  }
}
